

<%- include('../layout/header.ejs') %>


<section class="vh-100" style="
border-radius: 0px;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
     

      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 8px 8px 8px 100px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
             
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  
                  <div class="card p-2 text-center">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Edit origin</p>
                
                
                   <form action="/admin/editCategory/<%= category._id %>" method="post">
                     <label for="name">Name</label>
                     <input type="text" name="name" value="<%= category.name %>">
                     <br><br>
                     <button style="background-color: brown;" type="submit">Save</button>
                   </form>
                  <p>
                    <% 
                       if(typeof msg !== 'undefined'){
                    %>
                    <p style="color:green"><%= msg %></p>
                    <%
                       }
                       %>
                  </p>
              </div>
            </div>

 

              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2" style="background: linear-gradient(180deg, #F2D184 0%, rgba(242, 209, 132, 0) 100%)">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid image-verify" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../layout/footer.ejs') %>