<%- include('../layout/header.ejs') %>

<%- include('../layout/nav.ejs') %>
<div class="container-fluid my-5  justify-content-center" style="padding-left: 20%;padding-right: 20%;">
    <div class="card card-1">
        <div class="card-header bg-white">
            <div class="media flex-sm-row flex-column-reverse justify-content-between  ">
                <div class="col my-auto"> <h4 class="mb-0">Name:<span class="change-color"><%= orders.ref %></span> </h4> </div>
                
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-between mb-3">
                <div class="col-auto"> <h6 class="color-1 mb-0 change-color">Receipt</h6> </div>
                <div class="col-auto  "> <small></small> </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card card-2">
                        <div class="card-body">
                            <div class="media">
                                <% combined.forEach((products) => { %>
                                <div class="sq align-self-center "> <img class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="/userimages/<%= products.image[0] %>" width="135" height="135" /> </div>
                                <div class="media-body my-auto text-right">
                                    <div class="row  my-auto flex-column flex-md-row">
                                        <div class="col my-auto"> <h6 class="mb-0"><%= products.name %></h6>  </div>
                                        
                                        <div class="col my-auto"> <small>Qty : <%= products.quantity %></small></div>
                                        <div class="col my-auto"><h6 class="mb-0">&#8377; <%= products.price %></h6>
                                            <a style="color: black;" href="/feedback?productId=<%= products._id %>">Review & Rate</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                            <hr class="my-3 ">
                            <div class="row">
                                <div class="col mt-auto">
                                    <div class="media col justify-content-between ">
                                        <div class="col-auto text-right"><span> <i class="fa fa-circle active" style="color: brown;"></i><small  class="text-right mr-sm-2"></small>paymentStatus:  </span></div>
                                        <div class="flex-col"> <span> <small style="color: green;" class="text-right mr-sm-2"><%= orders.paymentStatus %></small></span></div>
                                        <div class="col-auto text-right"><span> <i class="fa fa-circle active" style="color: brown;"></i><small  class="text-right mr-sm-2"></small>DeliveryStatus:  </span></div>

                                        <div class="col-auto flex-col-auto"><small style="color: green;" class="text-right mr-sm-2"><%= orders.deliveryStatus %></small><span> </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row mt-4">
                <div class="col">
                    <div class="row justify-content-between">
                        <div class="col-auto"><p class="mb-1 text-dark"><b>Order Details</b></p></div>
                        <div class="flex-sm-col text-right col"> <p class="mb-1"><b>Total</b></p> </div>
                        <div class="flex-sm-col col-auto"> <p class="mb-1"><%= orders.total %></p> </div>
                    </div>
                    
                   
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col"><p class="mb-1"><b>Delivery Charges</b></p></div>
                        <div class="flex-sm-col col-auto"><p class="mb-1">Free</p></div>
                    </div>
                </div>
            </div>
            <div class="row invoice ">
                <div class="col"><p class="mb-1"> Invoice Number : <%= orders._id %></p><p class="mb-1"></p><p class="mb-1"></p></div>
            </div>
        </div>
        <div class="card-footer">
            <div class="jumbotron-fluid">
                <div class="row justify-content-between ">
                    
                    <div class="col-auto my-auto "><h2 class="mb-0 font-weight-bold">TOTAL payable</h2></div>
                    <div class="col-auto my-auto ml-auto"><h1 class="display-3 "> <%= orders.total %></h1></div>
                </div>
                <div class="row mb-3 mt-3 mt-md-0">
                    <div class="col-auto border-line"> <small class="text-white"><%= orders.email%></small></div>
                    <div class="col-auto border-line"> <small class="text-white">payMode:<%= orders.payMode %></small></div>
                    
                </div>
            </div>
        </div>
    </div>
    <%- include('../layout/footer.ejs') %>